<h1>Rifa</h1>
<table>
    <tr>
        <th>Ticket</th>
        <td>{{rifa.ticket}}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{rifa.name}}</td>
    </tr>
    <tr>
        <th>Correo</th>
        <td>{{rifa.correo}}</td>
    </tr>
    <tr>
        <th>Telefono</th>
        <td>{{rifa.telefono}}</td>
    </tr>
    <tr>
        <th>Gift</th>
        <td>{{rifa.gift}}</td>
    </tr>
    <th></th>
        <td>
            <!--
            <form method="POST" action="/rifas/{{ rifa.id }}?_method=DELETE">
                <input type="submit" value="DELETE ?">
            </form>
            -->
        </td>
</table>